<!DOCTYPE html>
<html>
<head>
    <title>Select Language</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<h2>Select Your Preferred Language</h2>

<form method="POST">
    <select name="language" required>
        <option value="en">English</option>
        <option value="te">తెలుగు</option>
        <option value="hi">हिंदी</option>
        <option value="ta">தமிழ்</option>
        <option value="kn">ಕನ್ನಡ</option>
    </select>
    <br><br>
    <button type="submit">Continue</button>
</form>

</body>
</html>
